In [26]:
import pandas as pd
import numpy as np

In [27]:
# Very famous dataset for practicing the navie bayes
df = pd.read_csv("play_tennis.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     object
 1   outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   wind      14 non-null     object
 5   play      14 non-null     object
dtypes: object(6)
memory usage: 800.0+ bytes

In [29]:
df.drop(['day'],axis=1,inplace=True)
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [30]:
# Problem 1 

# p(Yes |outlook=sunny ,temp=Mild , humidity=High , wind=Strong ) =p(outlook=sunny ,temp=Mild , humidity=High , wind=Strong/Yes)*p(Yes)
# Same for NO

In [31]:
# Now As we know machine learning works on 2 phase training and testing
# Naive bayes creates a lookup table where probabilities of every possibality is strored in dictionary as a training part

In [32]:
# Lets create a lookup table
# 1. Probabilities of yes and Know

In [33]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [34]:
py = 9/14
pn = 5/14

In [35]:
print("Probability of Yes",py)
print("Probability of NO",pn)

Probability of Yes 0.6428571428571429
Probability of NO 0.35714285714285715

In [37]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [38]:
# Outlook feature
Pon = 0
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [39]:
pd.crosstab(df['play'],df['temp'])

temp  Cool  Hot  Mild
play
No       1    2     2
Yes      3    2     4

In [40]:
# temprature feature feature
Pcn = 1/5
Phn = 2/5
Pmn = 2/5

Pcy = 3/9
Phy = 2/9
Pmy = 4/9

In [41]:
pd.crosstab(df['play'],df['humidity'])

humidity  High  Normal
play
No           4       1
Yes          3       6

In [42]:
# Humadity Feature
Phn = 4/5
Pnn = 1/5

Phy = 3/9
Pny = 6/9

In [43]:
pd.crosstab(df['play'],df['wind'])

wind  Strong  Weak
play
No         3     2
Yes        3     6

In [44]:
# Wind Feature

Psn = 3/5
Pwn = 2/5

Psy = 3/9
Pwy = 6/9

In [47]:
# p(Yes |outlook=sunny ,temp=Mild , humidity=High , wind=Strong ) =p(outlook=sunny ,temp=Mild , humidity=High , wind=Strong/Yes)*p(Yes)
print("Probability of Yes",Psy*Pmy*Phy*Psy*py)
print("Probability of NO",Psn*Pmn*Phn*Psn*pn)

Probability of Yes 0.010582010582010581
Probability of NO 0.04114285714285714

In [48]:
# We found that probability of not coming to play is high so No will be the prediction